In [1]:
import pandas as pd
import numpy as np

In [2]:
x = np.arange(0, 100, 0.1)

In [6]:
y1 = np.arange(0.01, 1, 0.01)
y2 = np.arange(1, 100)
y3 = np.arange(100, 1000)
y4 = np.arange(1000, 10000)
y4 = np.arange(1000, 1000000)
y5 = np.arange(1000000, 10000000)

np.random.shuffle(y1)
np.random.shuffle(y2)
np.random.shuffle(y3)
np.random.shuffle(y4)
np.random.shuffle(y5)

In [ ]:
y = np.concatenate((x[:3000], y[:3000], z[:3000], a[:3000]))

In [12]:
all_numbers = np.transpose([np.tile(x, len(y)), np.repeat(y, len(x))])
df = pd.DataFrame(all_numbers)
# df=df[df[0] < df[1]]
df = df.sample(frac=1)[:20000].reset_index(drop=True)

In [13]:
# np.random.shuffle(x)
# np.random.shuffle(y)

# df = pd.DataFrame()
# df[0] = x[:10000] 
# df[1] = y[:10000]

In [14]:
df['Question'] = df[0].astype(str) + " × " + df[1].astype(str)

In [15]:
df['Answer'] = df[0] * df[1]

In [16]:
df = df[['Question', 'Answer']]

In [17]:
df.sample(frac=1).to_csv("three_two_multiplication.csv", index=None, header=None)

In [18]:
df

       Question  Answer
0      220 × 12    2640
1      258 × 68   17544
2      313 × 62   19406
3      642 × 23   14766
4      579 × 97   56163
5      774 × 83   64242
6      239 × 96   22944
7      114 × 63    7182
8      495 × 15    7425
9      959 × 35   33565
10     983 × 36   35388
11     120 × 52    6240
12     216 × 35    7560
13     547 × 46   25162
14     792 × 66   52272
15     369 × 18    6642
16     400 × 39   15600
17     290 × 42   12180
18     863 × 68   58684
19     393 × 67   26331
20     714 × 13    9282
21     232 × 50   11600
22     905 × 43   38915
23     256 × 70   17920
24     731 × 43   31433
25     391 × 48   18768
26     153 × 45    6885
27     278 × 59   16402
28     700 × 30   21000
29     855 × 39   33345
...         ...     ...
19970  233 × 10    2330
19971  176 × 28    4928
19972  520 × 68   35360
19973  986 × 52   51272
19974  803 × 50   40150
19975  434 × 80   34720
19976  167 × 93   15531
19977  872 × 97   84584
19978  361 × 91   32851
19979  586 × 20   11720
19980  915 × 37   33855
19981  853 × 55   46915
19982  207 × 92   19044
19983  808 × 25   20200
19984  720 × 90   64800
19985  326 × 96   31296
19986  199 × 73   14527
19987  490 × 13    6370
19988  799 × 58   46342
19989  460 × 62   28520
19990  147 × 88   12936
19991  952 × 48   45696
19992  739 × 12    8868
19993  716 × 35   25060
19994  276 × 60   16560
19995  510 × 94   47940
19996  585 × 80   46800
19997  790 × 19   15010
19998  834 × 64   53376
19999  920 × 37   34040

[20000 rows x 2 columns]

In [ ]:
#now make one for division