In [1]:
import pandas as pd
import numpy as np

In [5]:
x = np.arange(100, 1000)
y = np.arange(1000, 10000)
z = np.arange(10000, 100000)
a = z = np.arange(100000, 1000000)

np.random.shuffle(x)
np.random.shuffle(y)
np.random.shuffle(z)
np.random.shuffle(a)

In [9]:
sqrt = np.concatenate((x[:3000], y[:3000], z[:3000], a[:3000]))
np.random.shuffle(sqrt)

In [11]:
df = pd.DataFrame(columns=['Number', 'Square Root'])

In [13]:
df['Number'] = sqrt

In [19]:
df['Square Root'] = np.around(np.sqrt(df['Number']), 2)

In [21]:
df = df[['Number', 'Square Root']]

In [23]:
df.sample(frac=1).to_csv("square_root.csv", index=None, header=None)

In [24]:
df

      Number  Square Root
0     915747       956.95
1       1465        38.28
2        318        17.83
3     163887       404.83
4     392997       626.89
5       1952        44.18
6        770        27.75
7     427252       653.65
8       9314        96.51
9     209212       457.40
10    556952       746.29
11    778544       882.35
12       157        12.53
13    628721       792.92
14    326260       571.19
15    821900       906.59
16    801220       895.11
17       139        11.79
18    823050       907.22
19      2775        52.68
20       360        18.97
21      7054        83.99
22    840306       916.68
23       965        31.06
24      9000        94.87
25      1573        39.66
26    227435       476.90
27      3376        58.10
28      1927        43.90
29      4170        64.58
...      ...          ...
9870  906588       952.15
9871    8092        89.96
9872  482189       694.40
9873    8925        94.47
9874    8967        94.69
9875    3409        58.39
9876  348996       590.76
9877     741        27.22
9878    3960        62.93
9879  913292       955.66
9880  729168       853.91
9881    1887        43.44
9882    4799        69.27
9883  836905       914.83
9884     283        16.82
9885  307904       554.89
9886    3386        58.19
9887  732352       855.78
9888    5844        76.45
9889  900770       949.09
9890    8020        89.55
9891  741350       861.02
9892  368382       606.94
9893    6258        79.11
9894  648689       805.41
9895  925469       962.01
9896    3927        62.67
9897    4752        68.93
9898  469545       685.23
9899  638756       799.22

[9900 rows x 2 columns]